:root{
  /* Colors */
  --brownish-white: #FAF9F9;
  --brownish-gray: #AC9A9A;
  --brownish-gray-medium: #77696C;
  --brownish-gray-darker: #615658;
  --brownish-gray-darkest: #484041;
  --light-green: #16DB65;
  --light-red: #EF476F;

  /* Functional colors */
  --layout-background: var(--brownish-gray-darkest);
  --text-color-accent: var(--brownish-white);
  --text-color-dull: var(--brownish-gray);
  --borderless-button-color: var(--brownish-white);
  --block-color: var(--brownish-gray-darker);
  --subblock-color: var(--brownish-gray-medium);
  --text-input-color: var(--brownish-gray-medium);
  --dropdown-button-background: var(--brownish-gray-darkest);
  --add-button-color: var(--brownish-gray-darker);
  --add-button-stroke: var(--brownish-gray);
  --add-button-symbol: var(--brownish-gray);
  --positive-color: var(--light-green);
  --negative-color: var(--light-red);
}

.body {
  width: 320px;
}

