@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* Colors */
  --brownish-white: #FAF9F9;
  --brownish-gray: #AC9A9A;
  --brownish-gray-medium: #77696C;
  --brownish-gray-darker: #615658;
  --brownish-gray-darkest: #484041;
  --light-green: #16DB65;
  --light-red: #EF476F;

  /* Functional colors */
  --layout-background: var(--brownish-gray-darkest);
  --text-color-accent: var(--brownish-white);
  --text-color-dull: var(--brownish-gray);
  --borderless-button-color: var(--brownish-white);
  --block-color: var(--brownish-gray-darker);
  --subblock-color: var(--brownish-gray-medium);
  --text-input-color: var(--brownish-gray-medium);
  --dropdown-button-background: var(--brownish-gray-darkest);
  --add-button-color: var(--brownish-gray-darker);
  --add-button-stroke: var(--brownish-gray);
  --add-button-symbol: var(--brownish-gray);
  --positive-color: var(--light-green);
  --negative-color: var(--light-red);

  /* Font */
  --header-font-size: 20px;
  --default-font-size: 14px;

  --header-font: normal 900 var(--header-font-size) 'Roboto', sans-serif;
  --regular-font: normal 900 var(--default-font-size) 'Roboto', sans-serif;
  --title-font: normal bold var(--default-font-size) 'Roboto', sans-serif;

  /* Corner radius */
  --radius-circle: 1000px;
  --radius-large: 10px;
  --radius-small: 5px;

  --radius-text-input: var(--radius-small);

  /* Animations */
  --button-shake: shake .5s ease-out 1 alternate;
  --button-shake-upside-down: shake-upside-down .5s ease-out 1 alternate;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-10deg);
  }

  66% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

html,
body,
#root {
  width: 320px;
  max-height: 480px;
  overflow: hidden;
  margin: 0;
}

.list-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.content-block {
  display: flex;
  border-radius: var(--radius-large);
  flex-direction: column;
}

.content-block--large {
  background-color: var(--block-color);
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  gap: 10px;
}

.content-block--small {
  background-color: var(--subblock-color);
  padding: 10px 5px;
  box-sizing: border-box;
  gap: 5px;
  align-items: center;
}

.title{
  font: var(--title-font);
  color: var(--text-color-dull);
}

.regular-text{
  font: var(--regular-font);
  color: var(--text-color-accent);
}

.button{
  transition: transform .3s ease-out, filter .1s ease-out;
}

.button:hover{
  filter: brightness(0.85);
  cursor: pointer;
}

.button:active{
  filter: brightness(0.70);
}

.button:focus{
  outline: none;
}