.button--icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: var(--corner-radius-button);
    border: none;
}

.button--icon-button:hover{
    animation: var(--button-shake);
}