.layout-header{
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header-spacer{
    width: 20px;
    height: 20px;
}

.header-title{
    font: var(--header-font);
    color: var(--text-color-accent);
}

.header-button{
    height: 20px;
    transition: filter .3s ease-out;
}

.header-button:hover{
    animation: var(--button-shake);
    filter: brightness(0.85);
}

.header-button:active{
    filter: brightness(0.70);
}