.content-upper-area{
    display: flex;
    justify-content: space-between;
}

.content-url-area{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content-url{
    font: var(--regular-font);
    color: var(--text-color-accent);
    display: inline-flex;
    align-items: center;
}

.dropdown-checkbox{
    display: none;
}

.dropdown-checkbox-label{
    height: 20px;
    pointer-events: none;
}

.dropdown-checkbox-label::before{
    pointer-events: auto;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--dropdown-button-background);
    border-radius: var(--radius-circle);
    background-image: url('./assets/DropdownIcon.svg');
    background-size: contain;
    transition: transform .3s ease-out, filter .1s ease-out;
}

.dropdown-checkbox-label:hover::before {
    filter: brightness(0.85);
    cursor: pointer;
}

.dropdown-checkbox:active + .dropdown-checkbox-label::before{
    filter: brightness(0.70);
}

.dropdown-checkbox:checked + .dropdown-checkbox-label::before{
    transform: rotate(180deg);
}

.content-time{
    font: var(--regular-font);
    display: inline-flex;
    align-items: center;
}

.content-time--left{
    color: var(--positive-color);
}

.content-time--timeout{
    color: var(--negative-color);
}

.dropdown-area{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.dropdown-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s;
}

/* .dropdown-content--large{
    gap: 10px;
} */

.spacer-height-10px{
    height: 10px;
    width: 100%;
}

.dropdown-content--visible{
    max-height: 200px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

.dropdown-content--invisible{
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.limits-time-area{
    display: flex;
    gap: 10px;
}